/Labwork1/.vs
/Labwork1/Binaries
/Labwork1/DerivedDataCache
/Labwork1/Intermediate
/Labwork1/Saved
/Labwork1/Labwork1.sln
/Labwork1/.vsconfig
/Labwork1/Content/LevelPrototyping
/Labwork1/Content/__ExternalActors__
/Labwork1/Content/__ExternalObjects__
/Labwork1/Content/Characters
/Labwork1/Content/Collections
/Labwork1/Content/Developers
/Labwork1/Content/Input
/Labwork2/.vs
/Labwork2/Binaries
/Labwork2/DerivedDataCache
/Labwork2/Intermediate
/Labwork2/Saved
/Labwork2/Labwork2.sln
/Labwork2/.vsconfig
/Labwork2/Content/Meshes