/Labwork1/.vs
/Labwork1/Binaries
/Labwork1/DerivedDataCache
/Labwork1/Intermediate
/Labwork1/Saved
/Labwork1/Labwork1.sln
/Labwork1/.vsconfig
/Labwork1/Content/LevelPrototyping
/Labwork1/Content/__ExternalActors__
/Labwork1/Content/__ExternalObjects__
/Labwork1/Content/Characters
/Labwork1/Content/Collections
/Labwork1/Content/Developers
/Labwork1/Content/Input
/Labwork2/.vs
/Labwork2/Binaries
/Labwork2/DerivedDataCache
/Labwork2/Intermediate
/Labwork2/Saved
/Labwork2/Labwork2.sln
/Labwork2/.vsconfig
/Labwork2/Content/Meshes
/Labwork3/.vs
/Labwork3/Binaries
/Labwork3/DerivedDataCache
/Labwork3/Intermediate
/Labwork3/Saved
/Labwork3/Labwork3.sln
/Labwork3/.vsconfig
/Labwork3/Content/Models
/Labwork3/Content/Materials
/Labwork3/Content/Textures
/Labwork3/Content/UI
/Homework3
/Labwork4/.vs
/Labwork4/Binaries
/Labwork4/DerivedDataCache
/Labwork4/Intermediate
/Labwork4/Saved
/Labwork4/Labwork4.sln
/Labwork4/.vsconfig
/Labwork4/Content/Mannequin
/Labwork4/Content/StylizedModularChar
